---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tinyauth
  namespace: security
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: tinyauth
    namespace: flux-system
  values:
    controllers:
      tinyauth:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/steveiliop56/tinyauth
              tag: v4.0.1@sha256:815a53c517b4b8f29c02245fc89185186d12162f6bfc2e7566acf888c72ff14b

            env:
              TZ: Europe/Budapest
              APP_URL: https://auth.${PUBLIC_DOMAIN}
              COOKIE_SECURE: true
              DISABLE_CONTINUE: true
              GENERIC_NAME: Pocket-ID
              GENERIC_AUTH_URL: https://id.${PUBLIC_DOMAIN}/authorize
              GENERIC_TOKEN_URL: https://id.${PUBLIC_DOMAIN}/api/oidc/token
              GENERIC_USER_URL: https://id.${PUBLIC_DOMAIN}/api/oidc/userinfo
              GENERIC_SCOPES: openid email profile groups
              SESSION_EXPIRY: 604800
            envFrom:
              - secretRef:
                  name: tinyauth-secret

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/healthcheck
                    port: &port 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001

    service:
      app:
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - "auth.${PUBLIC_DOMAIN}"
        parentRefs:
          - name: external
            namespace: networking
            sectionName: websecure
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          tinyauth:
            app:
              - path: /data
                subPath: data
              - path: /tmp
                subPath: tmp
