---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app qbittorrent
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  # maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/onedr0p/qbittorrent
      tag: 4.5.2@sha256:495c6226b5c893b10a58d87e3187acb797fb981021e8f513a727f2b6db5d2cba

    hostname: qbittorrent

    env:
      TZ: "Europe/Budapest"
      QBT_Preferences__WebUI__AlternativeUIEnabled: "true"
      QBT_Preferences__WebUI__RootFolder: /add-ons/VueTorrent

    service:
      main:
        type: LoadBalancer
        annotations:
          metallb.universe.tf/loadBalancerIPs: ${CLUSTER_SVC_QBITTORRENT_IP}
        externalTrafficPolicy: Local
        ports:
          http:
            port: 8080
          bittorrent-tcp:
            enabled: true
            port: 62418
            protocol: TCP
          bittorrent-udp:
            enabled: true
            port: 62418
            protocol: UDP

    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: qBt - Torrent client
          gethomepage.dev/group: Downloading
          gethomepage.dev/icon: qbittorrent.svg
        hosts:
          - host: &host "bt.${PUBLIC_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    podSecurityContext:
      runAsUser: 10001
      runAsGroup: 10001
      fsGroup: 10001
      fsGroupChangePolicy: OnRootMismatch

    securityContext:
      privileged: false
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      seccompProfile:
        type: RuntimeDefault
      capabilities:
        drop:
          - ALL

    persistence:
      config:
        enabled: true
        existingClaim: *app
        mountPath: /config
        # subPath: qbittorrent

      add-ons:
        enabled: true
        type: emptyDir

      configfiles:
        enabled: true
        type: configMap
        name: qbittorrent-configmap
        mountPath: "-"

      nfs-nas-media:
        enabled: true
        type: nfs
        server: ${CLUSTER_LAN_NAS_IP}
        path: /media
        mountPath: /media

    initContainers:
      copy-config:
        image: public.ecr.aws/docker/library/busybox:1.36.0
        command:
          - "/bin/sh"
          - -c
        args:
          - cp /data/configfiles/* /data/config/
        volumeMounts:
          - name: configfiles
            mountPath: /data/configfiles
          - name: config
            mountPath: /data/config
            subPath: qBittorrent

    sidecars:
      vuetorrent:
        image: registry.k8s.io/git-sync/git-sync:v3.6.6
        imagePullPolicy: IfNotPresent
        args:
          - --repo=https://github.com/WDaan/VueTorrent
          - --branch=latest-release
          - --wait=86400 # 1 day
          - --root=/add-ons
        volumeMounts:
          - { name: add-ons, mountPath: /add-ons }

    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false

    resources:
      requests:
        cpu: 100m
        memory: 250Mi
      limits:
        memory: 6000Mi
