---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: qbittorrent

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      hostname: qbittorrent
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      qbittorrent:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-copy-config:
            image:
              repository: public.ecr.aws/docker/library/busybox
              tag: 1.37.0

            command:
              - "/bin/sh"
              - -c
            args:
              - |
                echo "Creating directory /config/qBittorrent/" &&
                mkdir -p /config/qBittorrent/ &&
                echo "Directory created. Copying files from /tmp/configfiles/ to /config/qBittorrent/" &&
                cp /tmp/configfiles/* /config/qBittorrent/ &&
                echo "Files copied successfully."

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:e9c2c24ad2b39fa0ee44de682bf26b14bf23cffea1de9e1f082f26caed4277f9


            env:
              TZ: "Europe/Budapest"

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

            securityContext:
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 50m
                memory: 200Mi
              limits:
                memory: 3000Mi

    service:
      app:
        controller: qbittorrent
        type: LoadBalancer
        annotations:
          metallb.io/loadBalancerIPs: ${LB_QBITTORRENT_IP}
        externalTrafficPolicy: Local
        ports:
          http:
            port: &port 8080
          bittorrent-tcp:
            port: 62418
            protocol: TCP
          bittorrent-udp:
            port: 62418
            protocol: UDP

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: qBt
          gethomepage.dev/group: Downloading
          gethomepage.dev/icon: qbittorrent.svg
        hostnames:
          - "bt.${PUBLIC_DOMAIN}"
        parentRefs:
          - name: external
            namespace: networking
            sectionName: websecure
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: qbittorrent
        globalMounts:
          - path: /config

      configfiles:
        type: configMap
        name: qbittorrent-configmap
        globalMounts:
          - path: /tmp/configfiles

      nfs-nas-media:
        type: nfs
        server: ${CONF_NFS_SRV_IP}
        path: /media
        globalMounts:
          - path: /media
