---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./helmrelease.yaml
  - ./pvc.yaml

labels:
  - pairs:
      app.kubernetes.io/name: qbittorrent

configMapGenerator:
  - name: qbittorrent-configmap
    files:
      - config/qBittorrent.conf
      - config/watched_folders.json
      - config/categories.json

generatorOptions:
  disableNameSuffixHash: true
