---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: maintainerr
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: maintainerr

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      maintainerr:
        containers:
          app:
            image:
              repository: ghcr.io/maintainerr/maintainerr
              tag: 2.26.1@sha256:1bd08f31b1c40851c70a57a5e9de77a96de67d42c8b87c64687f7582167c6695

            env:
              TZ: "Europe/Budapest"
              UI_PORT: &port 6246

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 45
                  periodSeconds: 5

            securityContext:
              privileged: false
              allowPrivilegeEscalation: false
              # readOnlyRootFilesystem: true # causes __PATH_PREFIX___ to be in the url
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 10m
                memory: 160Mi
              limits:
                memory: 500Mi

    service:
      app:
        controller: maintainerr
        ports:
          http:
            port: *port

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: maintainerr
          gethomepage.dev/group: Media
          gethomepage.dev/icon: maintainerr.png
        hostnames:
          - "{{ .Release.Name }}.${PUBLIC_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /opt/data
      tmpfs:
        type: emptyDir
        advancedMounts:
          maintainerr:
            app:
              - path: /opt/data/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
