---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bazarr
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: bazarr

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      bazarr:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-subcleaner:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.6.0@sha256:228a26d5f55ac5ae9c51635812570ba0073e0b1e0bd8fc3a653a0523b918c092

            args:
              - --repo=https://github.com/KBlixt/subcleaner
              - --branch=master
              - --depth=1
              - --root=/add-ons
              - --verbose=6
              - --one-time

            resources:
              requests:
                cpu: 5m
                memory: 20Mi
              limits:
                memory: 128Mi

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/bazarr
              tag: 1.5.6@sha256:236bbd88d97114966fef24f735542d76763246af8834dbaa760846c4cb5b3a03


            env:
              TZ: "Europe/Budapest"

            probes:
              liveness:
                enabled: true
                spec:
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/system/ping
                    port: &port 6767
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10

            securityContext:
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 25m
                memory: 256Mi
              limits:
                memory: 768Mi

    service:
      app:
        controller: bazarr
        ports:
          http:
            port: *port

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Bazarr
          gethomepage.dev/group: Arr Stack
          gethomepage.dev/icon: bazarr.svg
        hostnames:
          - "subs.${PUBLIC_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: bazarr
        globalMounts:
          - path: /config
      nfs-nas-media:
        type: nfs
        server: ${CONF_NFS_SRV_IP}
        path: /media
        globalMounts:
          - path: /media
      add-ons:
        type: emptyDir
        globalMounts:
          - path: /add-ons
