---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bazarr
  namespace: default
spec:
  interval: 16m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: app-template
        namespace: flux-system

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      bazarr:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-subcleaner:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.0

            args:
              - --repo=https://github.com/KBlixt/subcleaner
              - --branch=master
              - --depth=1
              - --root=/add-ons
              - --verbose=6
              - --one-time

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/bazarr
              tag: 1.5.3@sha256:2f1c32cb1420b2e56f60cfdf7823737eb501fdb2c13669429d23ab3a02e9ad90


            env:
              TZ: Europe/Budapest

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

            securityContext:
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 768Mi

    service:
      app:
        controller: bazarr
        ports:
          http:
            port: &port 6767

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Bazarr
          gethomepage.dev/group: Arr Stack
          gethomepage.dev/icon: bazarr.svg
        hostnames:
          - "subs.${PUBLIC_DOMAIN}"
        parentRefs:
          - name: external
            namespace: networking
            sectionName: websecure
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: bazarr
        globalMounts:
          - path: /config
      nfs-nas-media:
        type: nfs
        server: ${CLUSTER_LAN_NAS_IP}
        path: /media
        globalMounts:
          - path: /media
      add-ons:
        type: emptyDir
        globalMounts:
          - path: /add-ons
