---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: resticprofile
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: resticprofile

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      resticprofile:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: creativeprojects/resticprofile
              tag: 0.32.0@sha256:1f9096798b1c1c3b4139df3c1eb237501aa8acff017cf44f7e49ceb35b2b825f


            command:
              - "/bin/sh"
              - -c
            args:
              - resticprofile schedule --all && crond -f

            env:
              - name: TZ
                value: "Europe/Budapest"

              - name: RESTIC_CACHE_DIR
                value: "/mnt/nfs-tmp/resticprofile-cache"

              - name: RESTIC_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: resticprofile-secret
                    key: RESTIC_PASSWORD

              - name: RESTIC_REPOSITORY_TEMPLATE
                valueFrom:
                  secretKeyRef:
                    name: resticprofile-secret
                    key: RESTIC_REPOSITORY_TEMPLATE

              - name: AWS_ACCESS_KEY_ID
                valueFrom:
                  secretKeyRef:
                    name: resticprofile-secret
                    key: AWS_ACCESS_KEY_ID

              - name: AWS_SECRET_ACCESS_KEY
                valueFrom:
                  secretKeyRef:
                    name: resticprofile-secret
                    key: AWS_SECRET_ACCESS_KEY

              - name: HEALTHCHECK_BACKUPS_WEBHOOK
                valueFrom:
                  secretKeyRef:
                    name: resticprofile-secret
                    key: HEALTHCHECK_BACKUPS_WEBHOOK

              - name: HEALTHCHECK_BACKUPS_CHECK_WEBHOOK
                valueFrom:
                  secretKeyRef:
                    name: resticprofile-secret
                    key: HEALTHCHECK_BACKUPS_CHECK_WEBHOOK

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

            securityContext:
              privileged: true
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 2000Mi

    persistence:
      profiles-yaml:
        type: configMap
        name: resticprofile-configmap
        defaultMode: 0775
        globalMounts:
          - path: /etc/resticprofile/profiles.yaml
            subPath: profiles.yaml
            readOnly: true

      nfs-tmp:
        type: nfs
        server: ${CONF_NFS_SRV_IP}
        path: /tmp
        globalMounts:
          - path: /mnt/nfs-tmp

      nfs-backups:
        type: nfs
        server: ${CONF_NFS_SRV_IP}
        path: /backups
        globalMounts:
          - path: /backups
