apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: ratelimit
  namespace: networking
spec:
  rateLimit:
    average: 100
    burst: 200
    sourceCriterion:
      ipStrategy:
        depth: 1
