[Unit]
Documentation=https://wiki.archlinux.org/index.php/CPU_frequency_scaling
Description=Set CPU governor to performance to avoid contex switcing between ondemand and performance
After=multi-user.target

[Service]
ExecStart=/usr/bin/cpupower frequency-set -g {{ desired_cpu_governor }}

[Install]
WantedBy=default.target
