---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: smtp-relay
  namespace: networking
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: smtp-relay

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      smtp-relay:
        type: deployment
        replicas: 1
        strategy: RollingUpdate

        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-auth:
            image:
              repository: ghcr.io/foxcpp/maddy
              tag: 0.8.1@sha256:55636d8a29588eea62d81d51acdafe38e0f694fb91801ab12dc1ed8c47b6439d
            envFrom:
              - secretRef:
                  name: smtp-relay-secret
            command:
              - /bin/sh
              - /scripts/generate-password.sh
            securityContext:
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false  # Need to write to /auth
              capabilities: { drop: ["ALL"] }

        containers:
          app:
            image:
              repository: ghcr.io/foxcpp/maddy
              tag: 0.8.1@sha256:55636d8a29588eea62d81d51acdafe38e0f694fb91801ab12dc1ed8c47b6439d
            env:
              TZ: "Europe/Budapest"
              SMTP_RELAY_SMTP_PORT: &port 2525
              SMTP_RELAY_METRICS_PORT: &metricsPort 8080
            envFrom:
              - secretRef:
                  name: smtp-relay-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true

            securityContext:
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                memory: 16Mi
                cpu: 10m
              limits:
                memory: 128Mi

    service:
      app:
        controller: smtp-relay
        ports:
          http:
            primary: true
            port: *metricsPort
          smtp:
            port: *port

    persistence:
      config:
        type: configMap
        name: smtp-relay-configmap
        globalMounts:
          - path: /data/maddy.conf
            subPath: maddy.conf
            readOnly: true

        advancedMounts:
          smtp-relay:
            init-auth:
              - path: /scripts/generate-password.sh
                subPath: generate-password.sh
                readOnly: true

      auth:
        type: emptyDir
        globalMounts:
          - path: /auth

      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
