---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: networking
resources:
  - ./ocirepository.yaml
  - externalsecret.yaml
  - helmrelease.yaml
labels:
  - pairs:
      app.kubernetes.io/name: smtp-relay

configMapGenerator:
  - name: smtp-relay-configmap
    files:
      - maddy.conf=./resources/maddy.conf
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: enabled
