---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snapshot-controller
  namespace: kube-system
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: snapshot-controller

  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    controller:
      resources:
        requests:
          cpu: 5m
          memory: 48Mi
        limits:
          memory: 128Mi
      serviceMonitor:
        create: true

    volumeSnapshotClasses:
      - name: democratic-csi-local-hostpath
        driver: org.democratic-csi.local-hostpath
        annotations:
          snapshot.storage.kubernetes.io/is-default-class: "true"
        deletionPolicy: Delete
        parameters: {}
