---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent-upgrade-p2pblocklist
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: qbittorrent-upgrade-p2pblocklist
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: true
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        seccompProfile:
          type: RuntimeDefault

    controllers:
      qbittorrent-upgrade-p2pblocklist:
        type: cronjob
        cronjob:
          concurrencyPolicy: Forbid
          schedule: "@daily"
        containers:
          app:
            image:
              repository: docker.io/alpine/k8s
              tag: 1.35.1@sha256:e752c7a4f6a42d9662e37ff5a04d0dac1004df05dbd3ef95467123414d988be7
            command:
              - "/bin/bash"
              - "-c"
              - |
                #!/bin/bash

                set -o errexit
                set -o nounset

                curl --silent --location https://github.com/DavidMoore/ipfilter/releases/download/lists/ipfilter.dat.gz --output /tmp/ipfilter.dat.gz
                gunzip /tmp/ipfilter.dat.gz
                result=$(kubectl get pod --selector app.kubernetes.io/name=qbittorrent --output custom-columns=:metadata.name --namespace default)
                QBITTORRENT_POD=$(echo $result | awk '{ print $NF }')
                if [[ $QBITTORRENT_POD == *"qbittorrent"* ]]; then
                  kubectl cp /tmp/ipfilter.dat default/$QBITTORRENT_POD:/config/ipfilter.dat
                  kubectl rollout restart deployment qbittorrent --namespace default
                else
                  echo "qbittorrent deployment not found!"
                  exit 1
                fi

            securityContext:
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 10m
                memory: 30Mi
              limits:
                memory: 128Mi

    serviceAccount:
      qbittorrent-upgrade-p2pblocklist: {}

    rbac:
      roles:
        qbittorrent-role:
          enabled: true
          type: Role
          rules:
            - apiGroups: [""]
              resources: ["pods"]
              verbs: ["get", "list"]
            - apiGroups: [""]
              resources: ["pods/exec"]
              verbs: ["create"]
            - apiGroups: ["apps"]
              resources: ["deployments"]
              verbs: ["get", "patch"]
      bindings:
        qbittorrent-binding:
          enabled: true
          type: RoleBinding
          roleRef:
            identifier: qbittorrent-role
          subjects:
            - kind: ServiceAccount
              name: qbittorrent-upgrade-p2pblocklist
              namespace: "{{ .Release.Namespace }}"

    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp

    service:
      app:
        controller: *app
        enabled: false
