---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent-upgrade-p2pblocklist
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: qbittorrent-upgrade-p2pblocklist
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      qbittorrent-upgrade-p2pblocklist:
        type: cronjob
        cronjob:
          concurrencyPolicy: Forbid
          schedule: "@daily"
        containers:
          app:
            image:
              repository: docker.io/alpine/k8s
              tag: 1.35.0@sha256:18bc02c1e0df04451f4f9194eb7b7341c1165da5495459b52f85f72fb9545032
            command:
              - "/bin/bash"
              - "-c"
              - |
                #!/bin/bash

                set -o errexit
                set -o nounset

                curl --silent --location https://github.com/DavidMoore/ipfilter/releases/download/lists/ipfilter.dat.gz --output /tmp/ipfilter.dat.gz
                gunzip /tmp/ipfilter.dat.gz
                result=$(kubectl get pod --selector app.kubernetes.io/name=qbittorrent --output custom-columns=:metadata.name --namespace default)
                QBITTORRENT_POD=$(echo $result | awk '{ print $NF }')
                if [[ $QBITTORRENT_POD == *"qbittorrent"* ]]; then
                  kubectl cp /tmp/ipfilter.dat default/$QBITTORRENT_POD:/config/ipfilter.dat
                  kubectl rollout restart deployment qbittorrent --namespace default
                else
                  echo "qbittorrent deployment not found!"
                  exit 1
                fi

    serviceAccount:
      qbittorrent-upgrade-p2pblocklist: {}

    rbac:
      roles:
        qbittorrent-role:
          enabled: true
          type: Role
          rules:
            - apiGroups: [""]
              resources: ["pods"]
              verbs: ["get", "list"]
            - apiGroups: [""]
              resources: ["pods/exec"]
              verbs: ["create"]
            - apiGroups: ["apps"]
              resources: ["deployments"]
              verbs: ["get", "patch"]
      bindings:
        qbittorrent-binding:
          enabled: true
          type: RoleBinding
          roleRef:
            identifier: qbittorrent-role
          subjects:
            - kind: ServiceAccount
              name: qbittorrent-upgrade-p2pblocklist
              namespace: "{{ .Release.Namespace }}"

    service:
      app:
        controller: *app
        enabled: false
