---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: github-webhook
spec:
  hostnames:
    - "flux-webhook.${PUBLIC_DOMAIN}"
  parentRefs:
    - name: external
      namespace: networking
      sectionName: websecure
  rules:
    - backendRefs:
        - name: webhook-receiver
          namespace: flux-system
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /hook/
