---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: snapshot-controller
  namespace: kube-system
spec:
  interval: 30m
  chart:
    spec:
      chart: snapshot-controller
      version: 1.8.1
      sourceRef:
        kind: HelmRepository
        name: piraeus
        namespace: flux-system

  # maxHistory: 3
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    serviceMonitor:
      create: true

    # volumeSnapshotClasses:
    #   - name: democratic-csi-local-hostpath
    #     driver: org.democratic-csi.local-hostpath
    #     annotations:
    #       snapshot.storage.kubernetes.io/is-default-class: "true"
    #     deletionPolicy: Delete
    #     parameters: {}
