---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - ./ocirepository.yaml
  - ./ocirepository2.yaml
  - ./helmrelease.yaml

labels:
  - pairs:
      app.kubernetes.io/name: metrics-server
