---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: emby
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: app-template
        namespace: flux-system

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      emby:
        type: statefulset

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/emby
              tag: 4.9.1.90@sha256:31448f230530fbeac1164fa3bee775cdc3fb8434cfdda3ce9edcb5e4ee523033


            env:
              TZ: Europe/Budapest
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /System/Ping
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10

            securityContext:
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 3000Mi

    service:
      app:
        controller: emby
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          metallb.io/loadBalancerIPs: "${CLUSTER_SVC_MEDIASERVER_IP}"
        ports:
          http:
            port: *port

    ingress:
      app:
        className: "nginx"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: emby
          gethomepage.dev/group: Media
          gethomepage.dev/icon: emby.svg
        hosts:
          - host: "media.${PUBLIC_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config

      nfs-media:
        type: nfs
        server: ${CLUSTER_LAN_NAS_IP}
        path: /media
        globalMounts:
          - path: /media
            readOnly: true

      tmpfs:
        type: emptyDir
        advancedMounts:
          emby:
            app:
              - path: /cache
                subPath: cache
              - path: /config/log
                subPath: log
              - path: /tmp
                subPath: tmp
