---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-maintainerr
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: maintainerr
  dependsOn:
    - name: cluster-apps-democratic-csi
  path: ./kubernetes/apps/default/maintainerr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 1h
  targetNamespace: default
  timeout: 5m
  wait: false
