---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-qbittorrent
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-democratic-csi
  path: ./kubernetes/apps/default/qbittorrent/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 3m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-qbittorrent-jobs
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-democratic-csi
  path: ./kubernetes/apps/default/qbittorrent/jobs
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 3m
