---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wallos
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: wallos

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      wallos:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/ellite/wallos
              tag: 4.6.1@sha256:46f25daeebedbe00f409abdc82f07d1bde6818dc9fee8b360b0b09c453c4b999


            env:
              TZ: "Europe/Budapest"

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false

            securityContext:
              allowPrivilegeEscalation: false
              # /var/www/html/startup.sh: line 3: can't create /var/log/startup.log: Read-only file system
              readOnlyRootFilesystem: false
              # ERROR: [pool www] failed to setgid(82): Operation not permitted (1)
              # capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 10m
                memory: 60M
              limits:
                memory: 256M

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 80

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Wallos
          gethomepage.dev/group: PFM
          gethomepage.dev/icon: wallos
        hostnames:
          - "subscriptions.${PUBLIC_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: networking
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          wallos:
            app:
              - path: /var/www/html/db
                subPath: db
              - path: /var/www/html/images/uploads/logos
                subPath: logos
