---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: &namespace kube-system
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: reloader

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    reloader:
      podMonitor:
        enabled: false
        namespace: *namespace
      deployment:
        resources:
          requests:
            cpu: 5m
            memory: 170Mi
          limits:
            memory: 512Mi
