---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns
  namespace: networking
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: external-dns

  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    interval: 2m
    logLevel: debug
    provider:
      name: cloudflare
    env:
      - name: TZ
        value: ${TIMEZONE}
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: external-dns-secret
            key: api-token
    extraArgs:
      - --cloudflare-proxied
      # - --gateway-name=external
    policy: sync
    sources:
      - ingress
      - gateway-httproute
    txtPrefix: k8s.
    txtOwnerId: default
    domainFilters:
      - "${PUBLIC_DOMAIN}"
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: external-dns-secret
    resources:
      requests:
        cpu: 25m
        memory: 32Mi
      limits:
        memory: 384Mi
