---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: democratic-csi
  namespace: kube-system
spec:
  interval: 15m
  chart:
    spec:
      chart: democratic-csi
      version: 0.13.7
      sourceRef:
        kind: HelmRepository
        name: democratic-csi
        namespace: flux-system

  # maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:

    controller:
      # democratic-csi controller
      enabled: true
      replicaCount: 1
      strategy: node

      driver:
        enabled: true
        image: docker.io/democraticcsi/democratic-csi:v1.8.3

      externalProvisioner:
        enabled: true
        image: registry.k8s.io/sig-storage/csi-provisioner:v3.5.0
        extraArgs:
          - --leader-election=false
          - --node-deployment=true
          - --node-deployment-immediate-binding=false
          - --feature-gates=Topology=true
          - --strict-topology=true
          - --enable-capacity=true
          - --capacity-ownerref-level=1

      externalAttacher:
        enabled: false

      externalResizer:
        enabled: false

      externalSnapshotter:
        enabled: true
        image: registry.k8s.io/sig-storage/csi-snapshotter:v6.2.2
        extraArgs:
          - --leader-election=false
          # - --node-deployment=true

      externalHealthMonitorController:
        enabled: false

    node:
      # democratic-csi node
      enabled: true

      cleanup:
        image: public.ecr.aws/docker/library/busybox:1.36.1

      driver:
        image: democraticcsi/democratic-csi:v1.8.3

        extraVolumeMounts:
          - name: local-storage
            mountPath: /var/lib/csi-local-hostpath
            mountPropagation: Bidirectional

      extraVolumes:
        - name: local-storage
          hostPath:
            path: /var/lib/csi-local-hostpath
            type: DirectoryOrCreate

      driverRegistrar:
        enabled: true
        image: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.8.0

    csiProxy:
      enabled: true
      image: docker.io/democraticcsi/csi-grpc-proxy:v0.5.3

    csiDriver:
      name: "org.democratic-csi.local-hostpath"
      attachRequired: false
      storageCapacity: true
      fsGroupPolicy: File

    driver:
      config:
        driver: local-hostpath
        instance_id:
        local-hostpath:
          shareBasePath: "/var/lib/csi-local-hostpath"
          controllerBasePath: "/var/lib/csi-local-hostpath"
          dirPermissionsMode: "0777"
          dirPermissionsUser: 0
          dirPermissionsGroup: 0

    storageClasses:
      - name: democratic-csi-local-hostpath
        defaultClass: true
        reclaimPolicy: Delete
        volumeBindingMode: WaitForFirstConsumer
        allowVolumeExpansion: false
