---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: democratic-csi
  namespace: kube-system
spec:
  interval: 15m
  # chartRef:
  #   kind: OCIRepository
  #   name: democratic-csi

  chart:
    spec:
      chart: democratic-csi
      version: 0.15.0
      sourceRef:
        kind: HelmRepository
        name: democratic-csi

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    env:
      TZ: Europe/Budapest
    controller:
      # democratic-csi controller
      enabled: true
      replicaCount: 1
      strategy: node

      driver:
        enabled: true
        image:
          registry: docker.io/democraticcsi/democratic-csi
          tag: v1.9.3

      externalProvisioner:
        enabled: true
        image:
          registry: registry.k8s.io/sig-storage/csi-provisioner
          tag: v5.2.0
        extraArgs:
          - --leader-election=false
          - --node-deployment=true
          - --node-deployment-immediate-binding=false
          - --feature-gates=Topology=true
          - --strict-topology=true
          - --enable-capacity=true
          - --capacity-ownerref-level=1

      externalAttacher:
        enabled: false

      externalResizer:
        enabled: false

      externalSnapshotter:
        enabled: true
        image:
          registry: registry.k8s.io/sig-storage/csi-snapshotter
          tag: v8.2.1
        extraArgs:
          - --leader-election=false
          # - --node-deployment=true

      externalHealthMonitorController:
        enabled: false

    node:
      # democratic-csi node
      enabled: true

      cleanup:
        image:
          registry: public.ecr.aws/docker/library/busybox
          tag: 1.37.0

      driver:
        image:
          registry: docker.io/democraticcsi/democratic-csi
          tag: v1.9.3

        extraVolumeMounts:
          - name: local-storage
            mountPath: /var/lib/csi-local-hostpath
            mountPropagation: Bidirectional

      extraVolumes:
        - name: local-storage
          hostPath:
            path: /var/lib/csi-local-hostpath
            type: DirectoryOrCreate

      driverRegistrar:
        enabled: true
        image:
          registry: registry.k8s.io/sig-storage/csi-node-driver-registrar
          tag: v2.13.0

    csiProxy:
      enabled: true
      image:
        registry: docker.io/democraticcsi/csi-grpc-proxy
        tag: v0.5.6

    csiDriver:
      name: "org.democratic-csi.local-hostpath"
      attachRequired: false
      storageCapacity: true
      fsGroupPolicy: File

    driver:
      config:
        driver: local-hostpath
        instance_id:
        local-hostpath:
          shareBasePath: "/var/lib/csi-local-hostpath"
          controllerBasePath: "/var/lib/csi-local-hostpath"
          dirPermissionsMode: "0777"
          dirPermissionsUser: 0
          dirPermissionsGroup: 0

    storageClasses:
      - name: democratic-csi-local-hostpath
        defaultClass: true
        reclaimPolicy: Delete
        volumeBindingMode: WaitForFirstConsumer
        allowVolumeExpansion: false
