---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless-ngx
  namespace: default
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: paperless-ngx-secret
    creationPolicy: Owner
    template:
      data:
        # paperless-ngx
        PAPERLESS_SECRET_KEY: "{{ .paperless_secret_key }}"
        PAPERLESS_ADMIN_USER: "{{ .paperless_admin_user }}"
        PAPERLESS_ADMIN_PASSWORD: "{{ .paperless_admin_password }}"
        PAPERLESS_ADMIN_MAIL: "{{ .paperless_admin_mail }}"
  dataFrom:
    - extract:
        key: paperless-ngx
