---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless-ngx
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: paperless-ngx

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      # securityContext:
      #   runAsNonRoot: true
      #   runAsUser: 1000
      #   runAsGroup: 1000
      #   fsGroup: 1000
      #   fsGroupChangePolicy: OnRootMismatch
      #   seccompProfile:
      #     type: RuntimeDefault

    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        type: statefulset

        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.3@sha256:cd7622df6e0463a00d9aa381c756b052a00baec36b87c51085d54a1037fec74a

            env:
              # Application settings
              PAPERLESS_TIME_ZONE: "Europe/Budapest"
              PAPERLESS_URL: https://paperless.${PUBLIC_DOMAIN}
              PAPERLESS_PORT: "8000"

              # Paths
              PAPERLESS_DATA_DIR: /data/data
              PAPERLESS_MEDIA_ROOT: /data/media
              PAPERLESS_CONSUMPTION_DIR: /data/consume
              PAPERLESS_EXPORT_DIR: /data/export
              PAPERLESS_FILENAME_FORMAT: "{created_year}/{correspondent}/{title}"

              # Configure folder importer
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_CONSUMER_ENABLE_BARCODES: "true"
              PAPERLESS_CONSUMER_POLLING: "60"

              # Database (SQLite)
              PAPERLESS_DBENGINE: sqlite

              # Redis/Valkey connection
              REDIS_PASSWORD:
                secretKeyRef:
                  name: valkey-secret
                  key: VALKEY_PASSWORD
              PAPERLESS_REDIS:
                value: redis://:$(REDIS_PASSWORD)@valkey.default.svc.cluster.local:6379
                dependsOn: REDIS_PASSWORD

              # OCR settings
              PAPERLESS_OCR_LANGUAGE: hun+eng
              PAPERLESS_OCR_LANGUAGES: hun eng
              PAPERLESS_OCR_SKIP_ARCHIVE_FILE: "never"
              PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'
              PAPERLESS_OCR_MODE: "redo"

              # Configure Remote User auth
              PAPERLESS_ACCOUNT_ALLOW_SIGNUPS: "false"
              PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: "true"
              PAPERLESS_SOCIAL_AUTO_SIGNUP: "true"

              # Security
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: "false"
              USERMAP_UID: "1000"
              USERMAP_GID: "1000"

            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"

            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true

            # securityContext:
            #   privileged: false
            #   allowPrivilegeEscalation: false
            #   readOnlyRootFilesystem: false
            #   capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 20m
              limits:
                memory: 2Gi
                cpu: 3000m

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8000

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Paperless-NGX
          gethomepage.dev/group: Selfhosted
          gethomepage.dev/icon: paperless-ngx.svg
        hostnames:
          - "documents.${PUBLIC_DOMAIN}"
        parentRefs:
          - name: external
            namespace: networking
            sectionName: websecure
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      data:
        existingClaim: paperless-ngx-data
        globalMounts:
          - path: /data/data
            subPath: data
          - path: /data/media
            subPath: media
      consume:
        type: nfs
        server: ${CONF_NFS_SRV_IP}
        path: /tmp/paperless-ngx-consume
        globalMounts:
          - path: /data/consume
      export:
        type: emptyDir
        globalMounts:
          - path: /data/export
      run:
        type: emptyDir
        globalMounts:
          - path: /run
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
