---
originRequest:
  http2Origin: true
  originServerName: "${PUBLIC_DOMAIN}"

# https://developers.cloudflare.com/cloudflare-one/connections/connect-apps/configuration/ingress
ingress:
  - hostname: "${PUBLIC_DOMAIN}"
    service: &nginx-svc "https://ingress-nginx-controller.networking.svc.cluster.local"
  - hostname: "dash.${PUBLIC_DOMAIN}"
    service: &traefik-svc "https://traefik.networking.svc.cluster.local"
  - hostname: "actual.${PUBLIC_DOMAIN}"
    service: *traefik-svc
  - hostname: "echo.${PUBLIC_DOMAIN}"
    service: *traefik-svc
  - hostname: "id.${PUBLIC_DOMAIN}"
    service: *traefik-svc
  - hostname: "auth.${PUBLIC_DOMAIN}"
    service: *traefik-svc
  - hostname: "*.${PUBLIC_DOMAIN}"
    service: *nginx-svc
  - service: http_status:404
