---
originRequest:
  http2Origin: true
  originServerName: "${PUBLIC_DOMAIN}"

# https://developers.cloudflare.com/cloudflare-one/connections/connect-apps/configuration/ingress
ingress:
  - hostname: "${PUBLIC_DOMAIN}"
    service: &traefik-svc "https://traefik.networking.svc.cluster.local"
  - hostname: "${PUBLIC_DOMAIN}"
    service: "https://envoy-external.networking.svc.cluster.local"
  - hostname: "*.${PUBLIC_DOMAIN}"
    service: *traefik-svc
  - service: http_status:404
