---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: backrest
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: backrest

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      backrest:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: garethgeorge/backrest
              tag: v1.10.1@sha256:1308397161321b3c5aeca8acc6bf26eccb990df385f2532d3ce0eaa8b483dedf


            env:
              - name: TZ
                value: Europe/Budapest

              - name: XDG_CACHE_HOME
                value: "/mnt/nfs-tmp/backrest-cache"

              - name: BACKREST_DATA
                value: "/data"

              - name: BACKREST_CONFIG
                value: "/data/config.json"

              - name: RESTIC_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: resticprofile-secret
                    key: RESTIC_PASSWORD

              - name: RESTIC_REPOSITORY_TEMPLATE
                valueFrom:
                  secretKeyRef:
                    name: resticprofile-secret
                    key: RESTIC_REPOSITORY_TEMPLATE

              - name: AWS_ACCESS_KEY_ID
                valueFrom:
                  secretKeyRef:
                    name: resticprofile-secret
                    key: AWS_ACCESS_KEY_ID

              - name: AWS_SECRET_ACCESS_KEY
                valueFrom:
                  secretKeyRef:
                    name: resticprofile-secret
                    key: AWS_SECRET_ACCESS_KEY

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

            securityContext:
              privileged: true
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 2000Mi

    service:
      app:
        controller: backrest
        ports:
          http:
            port: &port 9898

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Backrest
          gethomepage.dev/group: Infrastructure
          gethomepage.dev/icon: https://raw.githubusercontent.com/zhorvath83/dashboard-icons/master/png/backup.png
        hostnames:
          - "backup.${PUBLIC_DOMAIN}"
        parentRefs:
          - name: external
            namespace: networking
            sectionName: websecure
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      data:
        type: persistentVolumeClaim
        existingClaim: backrest
        globalMounts:
          - path: /data

      nfs-tmp:
        type: nfs
        server: ${CLUSTER_LAN_NAS_IP}
        path: /tmp
        globalMounts:
          - path: /mnt/nfs-tmp

      nfs-backups:
        type: nfs
        server: ${CLUSTER_LAN_NAS_IP}
        path: /backups
        globalMounts:
          - path: /backups
