---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: plex

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      plex:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.43.0.10467@sha256:fa62165df48d04e9a418805951e903f831dec0e0601f4dc4245f9948d7fd719b


            env:
              TZ: "Europe/Budapest"
              HOSTNAME: PlexServer
              PLEX_ADVERTISE_URL: "https://plex.${PUBLIC_DOMAIN},http://${LB_MEDIASERVER_IP}:32400"
              PLEX_NO_AUTH_NETWORKS: 192.168.1.0/24,192.168.2.0/24,10.42.0.0/16,10.43.0.0/16

            envFrom:
              - secretRef:
                  name: plex-secret

            securityContext:
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 3

              readiness: *probes

              startup:
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: *port

            resources:
              requests:
                cpu: 50m
                memory: 512Mi
              limits:
                memory: 4096Mi

    service:
      app:
        controller: plex
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          metallb.io/loadBalancerIPs: "${LB_MEDIASERVER_IP}"
        ports:
          http:
            port: *port
          # Plex DLNA Server
          # https://support.plex.tv/articles/200350536-dlna/
          # dnla-tcp:
          #   port: 32469
          #   protocol: TCP
          # dnla-udp:
          #   port: 1900
          #   protocol: UDP
          # GDM Network discovery
          # https://support.plex.tv/articles/200430283-network/
          gdm-1-udp:
            port: 32410
            protocol: UDP
          gdm-2-udp:
            port: 32412
            protocol: UDP
          gdm-3-udp:
            port: 32413
            protocol: UDP
          gdm-4-udp:
            port: 32414
            protocol: UDP

    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: plex
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server

      # Separate PVC for cache to avoid backing up cache files
      cache:
        existingClaim: plex-cache
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache

      logs:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs

      nfs-media:
        type: nfs
        server: ${CONF_NFS_SRV_IP}
        path: /media
        globalMounts:
          - path: /media

      transcode:
        type: emptyDir
        globalMounts:
          - path: /transcode

      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
