---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: democratic-csi-local-hostpath
