---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-traefik
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: traefik
  dependsOn:
    - name: certificates-import
  path: ./kubernetes/apps/networking/traefik/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 1h
  targetNamespace: networking
  timeout: 5m
  wait: false
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: traefik-addons
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: traefik
  dependsOn:
    - name: cluster-apps-traefik
  path: ./kubernetes/apps/networking/traefik/addons
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  interval: 1h
  targetNamespace: networking
  timeout: 5m
  wait: false
