---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metallb
  namespace: networking
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: metallb

  # driftDetection:
  #   mode: enabled
  #   ignore:
  #     # Exclude bgppeers CRD from drift detection because of Flux issue
  #     - paths: [""]
  #       target:
  #         kind: CustomResourceDefinition
  #         name: bgppeers.metallb.io

  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    crds:
      enabled: true
    controller:
      resources:
        requests:
          cpu: 5m
          memory: 80Mi
        limits:
          memory: 256Mi
    speaker:
      resources:
        requests:
          cpu: 5m
          memory: 130Mi
        limits:
          memory: 384Mi
      tolerations:
        - effect: "NoExecute"
          operator: "Exists"
        - effect: "NoSchedule"
          operator: "Exists"
