---
# (string) Timezone for the servers
timezone: "Europe/Budapest"

# (list) Additional ssh public keys to add to the nodes
ssh_authorized_key: "{{ lookup('community.general.onepassword', 'id_ed25519_zhorvath83', field='public key') }}"

Debian:
  packages:
    - hdparm
    - htop
    - ipvsadm
    - lm-sensors
    - nano
    - nfs-common
    - nvme-cli
    - socat
    - python3-kubernetes
    - python3-yaml
