---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless-backup
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: paperless-backup

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false

    controllers:
      *app :
        type: cronjob
        cronjob:
          concurrencyPolicy: Forbid
          schedule: "30 0 * * *"
          successfulJobsHistory: 1
          failedJobsHistory: 3

        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.4@sha256:0dd610e06781c9ffafe413eaccdacd7305bcba54ab3457fe080ed3071315e27c

            command:
              - "/bin/sh"
              - "-c"
              - |
                echo "Starting paperless-ngx document export..."
                python3 /usr/src/paperless/src/manage.py document_exporter /data/nas/export --compare-checksums --delete
                echo "Export completed successfully."

            env:
              TZ: &tz "Europe/Budapest"
              PAPERLESS_TIME_ZONE: *tz

              # Paths
              PAPERLESS_EXPORT_DIR: /data/nas/export
              PAPERLESS_DATA_DIR: /data/local/data
              PAPERLESS_MEDIA_ROOT: /data/local/media
              PAPERLESS_DBENGINE: sqlite

              # Security
              USERMAP_UID: "10001"
              USERMAP_GID: "10001"

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
                cpu: 3000m

    service:
      app:
        controller: *app
        enabled: false

    persistence:
      data:
        existingClaim: paperless-data
        advancedMounts:
          *app :
            app:
              - path: /data/local

      nas-export:
        type: nfs
        server: ${CONF_NFS_SRV_IP}
        path: /backups/paperless
        advancedMounts:
          *app :
            app:
              - path: /data/nas/export
