---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: networking
resources:
  - externalsecret.yaml
  - helmrelease.yaml

labels:
  - pairs:
      app.kubernetes.io/name: cloudflared

configMapGenerator:
  - name: cloudflared-config
    files:
      - config/config.yaml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: enabled
