---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: photoview
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: photoview

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      photoview:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: viktorstrate/photoview
              tag: master@sha256:89a5a220effa9f0ba28278af9cab4af3c55d78b9eb2fa9990bf13b23ff8b86af

            env:
              - name: TZ
                value: Europe/Budapest
              - name: PHOTOVIEW_LISTEN_IP
                value: 0.0.0.0
              - name: PHOTOVIEW_LISTEN_PORT
                value: "8080"
              - name: PHOTOVIEW_SERVE_UI
                value: "1"
              - name: PHOTOVIEW_DISABLE_FACE_RECOGNITION
                value: "1"
              - name: PHOTOVIEW_DISABLE_VIDEO_ENCODING
                value: "0"
              - name: PHOTOVIEW_MEDIA_CACHE
                value: /app/cache
              - name: MAPBOX_TOKEN
                valueFrom:
                  secretKeyRef:
                    name: photoview-secret
                    key: MAPBOX_TOKEN
              - name: PHOTOVIEW_DATABASE_DRIVER
                value: sqlite
              - name: PHOTOVIEW_SQLITE_PATH
                value: /app/database/photoview.db

            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

            securityContext:
              privileged: false
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

            resources:
              requests:
                cpu: 50m
                memory: 250Mi
              limits:
                memory: 2000Mi

    service:
      app:
        controller: photoview
        ports:
          http:
            port: &port 8080

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Photoview
          gethomepage.dev/group: Selfhosted
          gethomepage.dev/icon: photoview.svg
        hostnames:
          - "photos.${PUBLIC_DOMAIN}"
          - "fenykepek.${PUBLIC_DOMAIN}"
        parentRefs:
          - name: external
            namespace: networking
            sectionName: websecure
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      photos:
        type: nfs
        path: /backups/apple_photos_export
        server: ${CLUSTER_LAN_NAS_IP}
        globalMounts:
          - path: /photos
            readOnly: true

      data:
        type: persistentVolumeClaim
        existingClaim: photoview
        globalMounts:
          - path: /app/cache
            subPath: cache
          - path: /app/database
            subPath: database

      tmpfs:
        type: emptyDir
        advancedMounts:
          photoview:
            app:
              - path: /tmp
                subPath: tmp
