---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: tigera-operator
spec:
  interval: 1h
  url: https://docs.tigera.io/calico/charts
  timeout: 3m
