---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./ocirepository.yaml
  - ./pvc.yaml
  - ./helmrelease.yaml

configMapGenerator:
  - name: home-gallery-configmap
    files:
      - config/gallery.config.yml
      - config/plugins/exifDatePriority.plugin.mjs

generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled

labels:
  - pairs:
      app.kubernetes.io/name: home-gallery
