---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-gallery
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: democratic-csi-local-hostpath
