---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app homepage
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: homepage
      version: 1.2.0
      sourceRef:
        kind: HelmRepository
        name: jameswynn
        namespace: flux-system

  # maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    image:
      repository: ghcr.io/benphelps/homepage
      tag: v0.6.20

    enableRbac: true
    serviceAccount:
      name: homepage
      # Create service account. Needed when RBAC is enabled.
      create: true

    config:
      useExistingConfigMap: homepage-config

    podAnnotations:
      configmap.reloader.stakater.com/reload: *app

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        hosts:
          - host: &host "dash.${PUBLIC_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    service:
      main:
        ports:
          http:
            port: 3000
            targetPort: 3000

    podSecurityContext:
      runAsUser: 10001
      runAsGroup: 10001
      fsGroup: 10001
      fsGroupChangePolicy: OnRootMismatch

    securityContext:
      privileged: false
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      seccompProfile:
        type: RuntimeDefault
      capabilities:
        drop:
          - ALL

    persistence:
      logs:
        enabled: true
        type: emptyDir
        mountPath: /app/config/logs

    resources:
      requests:
        cpu: 25m
        memory: 25M
      limits:
        memory: 250M
