---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pocket-id
  namespace: security
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: pocket-id-secret
    template:
      data:
        # pocket-id
        ENCRYPTION_KEY: "{{ .POCKETID_ENCRYPTION_KEY }}"
        # maxmind
        MAXMIND_LICENSE_KEY: "{{ .MAXMIND_LICENSE_KEY }}"
        # smtp2go
        SMTP_FROM: "{{ .SMTP_FROM }}"
        SMTP_HOST: "{{ .SMTP_HOSTNAME }}"
        SMTP_PORT: "{{ .SMTP_PORT }}"
  dataFrom:
    - extract:
        key: maxmind
    - extract:
        key: pocket-id
    - extract:
        key: smtp2go
