---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rauthy
  namespace: security
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: rauthy-secret
    creationPolicy: Owner
    template:
      data:
        # rauthy - cluster secrets (HQL_ prefix for Hiqlite)
        HQL_SECRET_RAFT: "{{ .CLUSTER_SECRET_RAFT }}"
        HQL_SECRET_API: "{{ .CLUSTER_SECRET_API }}"
        # rauthy - encryption
        ENC_KEYS: "{{ .ENC_KEYS }}"
        ENC_KEY_ACTIVE: "{{ .ENC_KEY_ACTIVE }}"
        # rauthy - bootstrap
        BOOTSTRAP_ADMIN_EMAIL: "{{ .BOOTSTRAP_ADMIN_EMAIL }}"
        EVENT_EMAIL: "{{ .EVENT_EMAIL }}"
        # smtp-relay
        SMTP_URL: "{{ .SMTP_RELAY_HOSTNAME }}"
        SMTP_PORT: "{{ .SMTP_RELAY_SMTP_PORT }}"
        SMTP_FROM: "Rauthy <{{ .SMTP_RELAY_SMTP_FROM }}>"
        SMTP_USERNAME: ""
        SMTP_PASSWORD: ""
  dataFrom:
    - extract:
        key: rauthy
    - extract:
        key: smtp-relay
