---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rauthy
  namespace: security
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: democratic-csi-local-hostpath
