---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: external-secrets
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: external-secrets

  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    # Strict Security Context is defined in the Helm Chart.
    image:
      repository: ghcr.io/external-secrets/external-secrets
    installCRDs: true
    resources:
      requests:
        cpu: 10m
        memory: 70Mi
      limits:
        memory: 256Mi
    serviceMonitor:
      enabled: true
      interval: 1m
    certController:
      image:
        repository: ghcr.io/external-secrets/external-secrets
      resources:
        requests:
          cpu: 10m
          memory: 70Mi
        limits:
          memory: 256Mi
      serviceMonitor:
        enabled: true
        interval: 1m
    webhook:
      image:
        repository: ghcr.io/external-secrets/external-secrets
      resources:
        requests:
          cpu: 5m
          memory: 50Mi
        limits:
          memory: 128Mi
      serviceMonitor:
        enabled: true
        interval: 1m
      extraArgs:
        tls-ciphers: "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384"
    grafanaDashboard:
      enabled: true
