---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre-web-automated
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: calibre-web-automated

  install:
    createNamespace: true
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        # disabled for linuxserver.io image
        # runAsNonRoot: true
        # runAsUser: 10001
        # runAsGroup: 10001
        # fsGroup: 10001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      calibre-web-automated:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/crocodilestick/calibre-web-automated
              tag: V3.1.4@sha256:577e846f104fd21453ef306eefb4a95dd95b3b9ddd2463a150944494284da0fd

            env:
              TZ: "Europe/Budapest"
              PUID: 1000
              PGID: 100

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  initialDelaySeconds: 60
                  failureThreshold: 45
                  periodSeconds: 5

            # securityContext:
            #   # because of linuxserver.io image
            #   privileged: true
            #   allowPrivilegeEscalation: true
            #   readOnlyRootFilesystem: false
            #   capabilities:
            #     add:
            #       - CHOWN
            #     drop:
            #       - ALL

            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 768Mi

    service:
      app:
        controller: calibre-web-automated
        type: LoadBalancer
        annotations:
          metallb.io/loadBalancerIPs: ${LB_CALIBRE_WEB_IP}
        externalTrafficPolicy: Local
        ports:
          http:
            port: &port 80
            targetPort: 8083

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/pod-selector: app.kubernetes.io/name=calibre-web-automated
          gethomepage.dev/name: Calibre
          gethomepage.dev/group: Media
          gethomepage.dev/icon: calibre-web.svg
        hostnames:
          - "books.${PUBLIC_DOMAIN}"
        parentRefs:
          - name: external
            namespace: networking
            sectionName: websecure
        rules:
          - backendRefs:
              - identifier: app
                port: *port


    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: calibre-web-automated
        globalMounts:
          - path: /config

      nfs-calibre-library:
        type: nfs
        server: ${CONF_NFS_SRV_IP}
        path: /backups/documents/personal/ebooks
        globalMounts:
          - path: /calibre-library
