---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/upgrade.cattle.io/plan_v1.json
apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: server-plan
spec:
  version: ${K3S_VERSION}
  serviceAccountName: system-upgrade
  concurrency: 1
  jobActiveDeadlineSecs: 1800 # 30 minutes timeout for upgrade jobs
  cordon: true
  nodeSelector:
    matchExpressions:
      - { key: node-role.kubernetes.io/control-plane, operator: Exists }
  tolerations:
    - { effect: NoSchedule, operator: Exists }
    - { effect: NoExecute, operator: Exists }
  upgrade:
    image: rancher/k3s-upgrade
